# Frontend
FRONT_URL="http://localhost:5173"

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=name
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PGTZ="Europe/Moscow"

# First user in seed
DEFAULT_USER_PASSWORD=password

# Secrets
JWT_SECRET="myawesomesecret"
JWT_VERSION=0
CSRF_SECRET="myawesomesecret"

# Backend url
SERVER_URL="http://localhost:8080"

# Groq API key for voice transaction parsing
GROQ_API_KEY=awesoswekey

# Proxy settings for Groq
# Установить порт прокси для доступа к Groq API из России. Замените порт на нужный.
PROXY_URL="socks5://127.0.0.1:10808"