# Frontend
FRONT_URL="http://localhost:5173"

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=name
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# First user in seed
DEFAULT_USER_PASSWORD=password

# Secrets
JWT_SECRET="myawesomesecret"
